<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/8/1 13:23 
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${blogShowVO?.title}+'--'+${blogShowVO?.blogTypeMsg}"></title>

    <script src="/static/res/bootstrap/js/jQuery.js"></script>
    <!--引用公共的bootstrap的内容-->
    <head th:include="/inc/iehtml5 :: iehtml5"></head>
    <head th:include="/inc/commonutil/sweetAlert :: sweetAlert"></head>
    <head th:include="/inc/bootstrapbasejs :: bootstrapbasejs"></head>
    <head th:include="/inc/bootstrapbasecss :: bootstrapbasecss"></head>
    <head th:include="/inc/commonutil/echarts :: echarts"></head>
    <head th:include="/inc/commonutil/toastrutil :: toastr"></head>
    <head th:include="/inc/commonutil/lazyImgLoading :: lazyImgLoading"></head>
    <link rel="stylesheet" href="/static/page/blog/css/main.css">


</head>
<body>

<!--<div th:text="${blogShowVO}"></div>-->
<!--引入返回顶部按钮-->
<div th:include="/inc/commonutil/backtotop :: backtotop"></div>

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:location.reload();">趣互动</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-12">
        <h1 class="blog-title"  th:text="${blogShowVO?.title}"></h1>
        <div class="blog-info">
            <span class="avatar">
              <img src="/static/res/lazyImgLoading/imglazyloadingtype1.gif"
                   th:data-lazy="${#strings.isEmpty(blogShowVO?.avatarImg) == true?null:blogShowVO?.avatarImg}"
                   alt="avatar">
            </span>
            <span th:text="${blogShowVO?.name}"></span> |
            <span th:text="${blogShowVO?.viewNum}+'热度'"></span> |
            <span th:text="${#dates.format(blogShowVO?.createTime, 'yyyy-MM-dd HH:mm')}">5分钟前</span>
            <span th:text="${blogShowVO?.dateDiff}"></span>
            <label class="label label-info" th:each="journalClassify : ${blogShowVO?.journalClassify}">
                <span th:text="${journalClassify}"></span>
            </label>
        </div>
        <div class="blog-content">
            <blockquote>
                <p th:text="${blogShowVO?.explainWord}"></p>
            </blockquote>
            <img src="/static/res/lazyImgLoading/imglazyloadingtype1.gif"
                 th:data-lazy="${#strings.isEmpty(blogShowVO?.journalCoverImg) == true?null:blogShowVO?.journalCoverImg}"
                 alt=" ">

            <div  th:utext="${blogShowVO?.journalContent}">

            </div>

        </div>
    </div>
</div>

<div class="container">
    <div th:include="inc/foot/simplefoot :: foot"></div>
</div>

</body>
</html>