<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/7/22 18:18 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="iehtml5">
    <meta charset="UTF-8">
    <!--[if IE]>
    <script src="/static/res/iehtml5/polyfill.js"></script>
    <script src="/static/res/iehtml5/html5shiv.min.js"></script>
    <script src="/static/res/iehtml5/respond.js"></script>
    <script src="/static/res/iehtml5/promise-polyfill.js"></script>
    <![endif]-->
</head>
<body>

</body>
</html>