<!--
  @Description: TODO 
 
  @Author    何亚培
  @Version   V1.0  
  @Date      2020/7/9 21:23 自定义弹窗
-->
<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="toastr">
    <meta charset="utf-8">
    <script src="/static/res/toastr/toastr.min.js"></script>
    <link href="/static/res/toastr/toastr.min.css" type="text/css" rel="stylesheet">
    <script>
        /*弹出框插件*/
        toastr.options = {
            closeButton: true,  //是否显示关闭按钮（提示框右上角关闭按钮）
            debug: false,  //是否为调试；
            progressBar: true,  //是否显示进度条（设置关闭的超时时间进度条）
            positionClass: "toast-top-right",  //消息框在页面显示的位置
            onclick: null,  //点击消息框自定义事件
            showDuration: "300",  //显示动作时间
            hideDuration: "1000",  //隐藏动作时间
            timeOut: "2000",  //自动关闭超时时间
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",  //显示的方式
            hideMethod: "fadeOut"  //隐藏的方式
        };
    </script>


</head>

<div th:fragment="myCustomLoad">
    <div class="modal fade" id="myCustomLoadingModal" backdrop="static" keyboard="false">
        　　
        <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">

            <div class="progress progress-striped active" id="myCustomLoadProgressbarDiv">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuemin="0" aria-valuemax="150" id="myCustomLoadProgressbar"
                     style="width: 0%;">
                    <!-- <span></span>-->
                </div>
            </div>
            　　　　<h5><b style="color: #FFFFFF" id="myCustomLoadText">loading...</b></h5>
            　　
        </div>
    </div>

    <style>
        .myCustomLoading-rotate-180 {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }
    </style>
    <script type="text/javascript">
        var showMyCustomLoadingTime;

        function showMyCustomLoading(loadText) {
            var value = 0;
            showMyCustomLoadingTime = setInterval(function (e) {
                //console.log(value)
                if (value != 150) {
                    value = parseInt(value) + 10;
                    /*$("#myCustomLoadProgressbar").css("width", value + "%").text(value + "%");*/
                    $("#myCustomLoadProgressbar").css("width", value + "%");
                    if (value >= 0 && value <= 70) {
                        $("#myCustomLoadProgressbar").addClass("progress-bar-danger");
                    } else if (value >= 70 && value <= 100) {
                        $("#myCustomLoadProgressbar").removeClass("progress-bar-danger");
                        $("#myCustomLoadProgressbar").addClass("progress-bar-warning");
                    } else if (value >= 100 && value <= 130) {
                        $("#myCustomLoadProgressbar").removeClass("progress-bar-warning");
                        $("#myCustomLoadProgressbar").addClass("progress-bar-info");
                    } else if (value >= 130) {
                        $("#myCustomLoadProgressbar").removeClass("progress-bar-info");
                        $("#myCustomLoadProgressbar").addClass("progress-bar-success");
                    }
                } else {
                    $("#myCustomLoadProgressbarDiv").toggleClass("myCustomLoading-rotate-180");
                    value = -100;
                }
            }, 100);

            if (loadText != null) {
                $("#myCustomLoadText").html(loadText);
            }
            $('#myCustomLoadingModal').modal({backdrop: 'static', keyboard: false});
        }

        function hideMyCustomLoading() {
            $('#myCustomLoadingModal').modal('hide');
            window.clearInterval(showMyCustomLoadingTime)
        }
    </script>
</div>

</html>